body.logged-in #login {
	display: none;
}
body:not(.logged-in) #logout {
	display: none;
}
body.loading:before {
	content: "\e031"; /* glyphicon-refresh */
	display: inline-block;
	position: absolute;
	animation: spin 1s infinite linear;
	-webkit-animation: spin2 1s infinite linear;
	z-index: 10;
	font-size: 60px;
	top: 40%;
	left: 50%;
	line-height: 60px;
	vertical-align: middle;
	text-align: center;
	color: #555;
	font-family: 'Glyphicons Halflings';
}
body.loading:after {
	content: ' ';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9;
	background-color: rgba(255,255,255,0.5);
}

@keyframes spin {
	from { transform: scale(1) rotate(0deg); }
	to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
h1 {
	font-size: 20px;
}
section:after {
	content:'';
	display: block;
	clear: both;
}
.character-status-icon {
	vertical-align: super;
	font-size: smaller;
}

#power_condition_owner_chosen li {
	width: 100%;
}
.chosen-container .chosen-choices li.search-choice,
.chosen-container-multi .chosen-choices li.search-field input[type='text'] {
	line-height: 20px;
}
.chosen-container-single .chosen-single {
	line-height: 32px;
	height: 32px;
}
.chosen-container-single .chosen-single div {
	top: 4px;
}
.chosen-choices {
	border-radius: 4px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	top: 8px;
}
.input-group-addon.va-defaultwidth {
	min-width:100px;
	text-align:left;
}
body {
	xpadding-top: 50px; /* Room for navbar */
	padding-bottom: 20px;
}
.item a,
.power-condition a {
	line-height: 36px;
	vertical-align: middle;
}
.item a .badge.pull-right,
.power-condition a .badge.pull-right {
	margin-top: 9px;
}
.chosen-container {
	min-width: 100% !important;
}
.chosen-container-single .chosen-single span span {
	display: inline;
	margin-right: 0;
	text-overflow: inherit;
	white-space: inherit;
}
.cs-only .btn {
	display: none;
}
.cs-only-hidden .form-control {
	display: none;
}
#login-status {
	padding: 10px 0px 0px 0px;
	margin-bottom: 5px;
}
span.loginlabel {
	display: inline-block;
	width: 50px;
}
img.loginprovider {
	width: 32px;
	height: 32px;
}
/* fix for bootstrap float issue */
div.field.itin,
div.field.item-name,
div.field.poin,
div.field.power-name,
div.field.pcin,
div.field.condition-name {
	z-index: 1;
}
